/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ############### GAME LAYOT ############### */

*:focus {
  outline: none;
}

body {
  font: normal normal 300 16px/1.2em "Ubuntu";
  background-repeat: repeat;
}

.game{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ############### FOOTER ############### */
.footer {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.8em;
}

.footer ul {
  padding: 0.5em 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.footer li {
  margin: 0 1em;
}

.footer-link,
.foter-link:visited {
  text-decoration: none;
  font-style: italic;
  color: #fff;
}

/* ############### GAME PANEL ############### */

.panel {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

@media screen and (min-width: 701px) {
  .panel {
    padding: 0.2em 4em;
  }
}

.game-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
}

.game-button,
.stopwatch,
.moves {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 0.7em;
}

.stopwatch .fas,
.moves .fas {
  display: none;
}

.time,
.moves-number {
  font-size: 1em;
}

@media screen and (min-width: 361px) {
  .stopwatch .fas,
  .moves .fas {
    display: inline;
  }
  .time,
  .moves-number {
    padding-left: 0.5em;
    font-size: 1em;
  }
}

@media screen and (min-width: 551px) {
  .game-status {
    font-size: 1.2em;
  }
  .game-button,
  .stopwatch,
  .moves {
    font-size: 1.2em;
    padding: 0.5em;
  }
  .time,
  .moves-number {
    padding-left: 0.5em;
  }
}

.star {
  color: rgba(0, 0, 0, 0.4);
}

.white-star {
  color: #fff;
}


/* ############### CARDS LAYOUT ############### */

.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
}

.easy-level-deck {
  width: 90vw;
  padding: 2vw;
}

.normal-level-deck {
  width: 92vw;
  padding: 2vw;
}

.hard-level-deck {
  width: 97vw;
  padding: 1vw;
}

.expert-level-deck {
  width: 91vw;
  padding: 1vw;
}

.card-place {
  position: relative;
  z-index: 1;
  perspective: 1000px;
  border-radius: 5px;
}

.easy-level-place {
  width: 20vw;
  height: 20vw;
  margin: 0 2vw 2vw 0;
}

.normal-level-place {
  width: 13vw;
  height: 13vw;
  margin: 0 2vw 2vw 0;
}

.hard-level-place {
  width: 11vw;
  height: 11vw;
  margin: 0 1vw 1vw 0;
}

.expert-level-place {
  width: 8vw;
  height: 8vw;
  margin: 0 1vw 1vw 0;
}

.easy-level-place:nth-of-type(4n+4),
.normal-level-place:nth-of-type(6n+6),
.hard-level-place:nth-of-type(8n+8),
.expert-level-place:nth-of-type(10n+10) {
  margin-right: 0;
}

.easy-level-place:nth-of-type(n+13),
.normal-level-place:nth-of-type(n+31),
.hard-level-place:nth-of-type(n+57),
.expert-level-place:nth-of-type(n+91) {
  margin-bottom: 0;
}

@media screen and (min-width: 551px) {
  .easy-level-deck {
    width: 81vw;
    padding: 1vw;
  }
  .easy-level-place {
    width: 19vw;
    height: 19vw;
    margin: 0 1vw 1vw 0;
  }
  .normal-level-deck {
    width: 79vw;
    padding: 1vw;
  }
  .normal-level-place {
    width: 12vw;
    height: 12vw;
    margin: 0 1vw 1vw 0;
  }
  .hard-level-deck {
    width: 81vw;
    padding: 1vw;
  }
  .expert-level-deck {
    width: 81vw;
    padding: 1vw;
  }
  .hard-level-place {
    width: 9vw;
    height: 9vw;
    margin: 0 1vw 1vw 0;
  }
  .expert-level-place {
    width: 7vw;
    height: 7vw;
    margin: 0 1vw 1vw 0;
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 861px),
  only screen and (min--moz-device-pixel-ratio: 1) and (min-width: 861px),
  only screen and (-o-min-device-pixel-ratio: 1) and (min-width: 861px),
  only screen and (min-device-pixel-ratio: 1) and (min-width: 861px),
  only screen and (min-resolution: 96dpi) and (min-width: 861px) {
  .easy-level-deck {
    width: 730px;
    padding: 10px;
  }
  .easy-level-place {
    width: 170px;
    height: 170px;
    margin: 0 10px 10px 0;
  }
  .normal-level-deck {
    width: 730px;
    padding: 10px;
  }
  .normal-level-place {
    width: 110px;
    height: 110px;
    margin: 0 10px 10px 0;
  }
  .hard-level-deck {
    width: 730px;
    padding: 10px;
  }
  .hard-level-place {
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
  }
  .expert-level-deck {
    width: 740px;
    padding: 10px;
  }
  .expert-level-place {
    width: 63px;
    height: 63px;
    margin: 0 10px 10px 0;
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 6661x),
  only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 661px),
  only screen and (-o-min-device-pixel-ratio: 1.25) and (min-width: 661px),
  only screen and (min-device-pixel-ratio: 1.25) and (min-width: 661px),
  only screen and (min-resolution: 120dpi) and (min-width: 661px) {
  .easy-level-deck {
    width: 530px;
    padding: 10px;
  }
  .easy-level-place {
    width: 120px;
    height: 120px;
    margin: 0 10px 10px 0;
  }
  .normal-level-deck {
    width: 520px;
    padding: 10px;
  }
  .normal-level-place {
    width: 75px;
    height: 75px;
    margin: 0 10px 10px 0;
  }
  .hard-level-deck {
    width: 530px;
    padding: 10px;
  }
  .hard-level-place {
    width: 55px;
    height: 55px;
    margin: 0 10px 10px 0;
  }
  .expert-level-deck {
    width: 530px;
    padding: 10px;
  }
  .expert-level-place {
    width: 42px;
    height: 42px;
    margin: 0 10px 10px 0;
  }
}

/* ############### CARDS FLIP ############### */
/*  http://css3.bradshawenterprises.com/flip/   */

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border-radius: 2px;
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.3);
}

.fliped-card {
  transform: rotateY(180deg);
  transition: all 1s ease;
}

.reverse {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 2px;
  box-shadow:
    inset 2px 2px 2px rgba(255, 255, 255, 0.3),
    inset -2px -2px 2px rgba(0, 0, 0, 0.3);
  /* border: 5px solid rgba(255, 255, 255, 0.25); */
  background-position: center, center;
  background-repeat: no-repeat;
}

.reverse.obverse {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 2px;
  border-radius: 2px;
  background-color: #fff;
  border: none;
}

.found-pair {
  transition: all 0.1s ease-in;
  box-shadow: none;
  width: 94%;
  height: 94%;
  margin: 3%;
}

.found-pair img {
  opacity: 0.6;
}

/* ############### BOARD BACKGROUND ############### */

.green-board {
  background-image: url('../img/background/noisy-texture-green.png');
}

.blue-board {
  background-image: url('../img/background/noisy-texture-blue.png');
}

.red-board {
  background-image: url('../img/background/noisy-texture-red.png');
}

/* ############### CARDS REVERSES ############### */

.grey-reverse {
  background-image: url('../img/reverse/af-logo.svg'), url('../img/reverse/noisy-reverse-grey.png');
}

.blue-reverse {
  background-image: url('../img/reverse/af-logo.svg'), url('../img/reverse/noisy-reverse-blue.png');
}

.green-reverse {
  background-image: url('../img/reverse/af-logo.svg'), url('../img/reverse/noisy-reverse-green.png');
}

.red-reverse {
  background-image: url('../img/reverse/af-logo.svg'), url('../img/reverse/noisy-reverse-red.png');
}

.card-image {
  border-radius: 2px;
}

/* ############### END GAME MODAL ############### */

.end-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-end-message {
  position: relative;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5%;
  text-align: center;
  overflow: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
  color: #000;
  font-size: 1.2em;
}

.congrats {
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: 700;
}

.congrats .fas {
  font-size: 2em;
  line-break: inherit;
}

.game-end-result li{
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-result,
.moves-result,
.stars-result {
  padding-left: 0.5em;
}

.play-again {
  font-size: 2em;
  padding: 0.1em;
  border: none;
  background: none;
  padding-left: 0.5em;
}


.play-again .fas{
  transition: all 0.3s;
}

.play-again:hover .fas {
  transform: scale(1.2);
}

.show-modal {
  display: flex;
}

.close-modal {
  position: absolute;
  font-size: 1.2em;
  padding: 0.5em;
  background: none;
  border: none;
  top: 0;
  right: 0;
}

.close-modal:hover .far {
  transform: scale(1.2);
}

.close-icon {
  transition: all 0.2s;
  color: #000;
}

@media screen and (min-width: 361px) {
  .game-end-message {
    width: 90%;
  }
}

@media screen and (min-width: 451px) {
  .game-end-message {
    width: 80%;
  }
}

@media screen and (min-width: 551px) {
  .game-end-message {
    width: 70%;
  }
}

@media screen and (min-width: 601px) {
  .game-end-message {
    width: 60%;
  }
}

@media screen and (min-width: 801px) {
  .game-end-message {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 901px) {
  .game-end-message {
    font-size: 1.5em;
  }
  .congrats {
    line-height: 2em;
    font-size: 1.5em;
  }
  .congrats .fas {
    font-size: 3em;
    line-break: inherit;
  }
}

@media screen and (min-width: 1001px) {
  .close-modal {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1201px) {
  .game-end-message {
    width: 50%;
  }
}

@media screen and (min-width: 1401px) {
  .game-end-message {
    width: 40%;
  }
}