/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #999;
}

/* ############### CARDS LAYOUT ############### */

.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
}

.easy-level-deck {
  width: 90vw;
  padding: 2vw;
}

.normal-level-deck{
  width: 92vw;
  padding: 2vw;
}

.hard-level-deck {
  width: 97vw;
  padding: 1vw;
}

.expert-level-deck {
  width: 91vw;
  padding: 1vw;
}

.card-place {
  position: relative;
  z-index: 1;
  perspective: 1000px;
}

.easy-level-place {
  width: 20vw;
  height: 20vw;
  margin: 0 2vw 2vw 0;
}

.normal-level-place {
  width: 13vw;
  height: 13vw;
  margin: 0 2vw 2vw 0;
}

.hard-level-place {
  width: 11vw;
  height: 11vw;
  margin: 0 1vw 1vw 0;
}

.expert-level-place {
  width: 8vw;
  height: 8vw;
  margin: 0 1vw 1vw 0;
}

.easy-level-place:nth-of-type(4n+4),
.normal-level-place:nth-of-type(6n+6),
.hard-level-place:nth-of-type(8n+8),
.expert-level-place:nth-of-type(10n+10)
 {
  margin-right: 0;
}

.easy-level-place:nth-of-type(n+13),
.normal-level-place:nth-of-type(n+31),
.hard-level-place:nth-of-type(n+57),
.expert-level-place:nth-of-type(n+91) {
  margin-bottom: 0;
}

@media screen and (min-width: 551px) {
  .hard-level-deck {
    width: 90vw;
    padding: 2vw;
  }

  .expert-level-deck {
    width: 92vw;
    padding: 2vw;
  }
  .hard-level-place {
    width: 9vw;
    height: 9vw;
    margin: 0 2vw 2vw 0;
  }
  .expert-level-place {
    width: 7vw;
    height: 7vw;
    margin: 0 2vw 2vw 0;
  }
}

@media screen and (min-width: 861px) {
  .easy-level-deck {
    width: 795px;
    padding: 15px;
  }
  .easy-level-place {
    width: 180px;
    height: 180px;
    margin: 0 15px 15px 0;
  }
  .normal-level-deck {
    width: 795;
    padding: 15px;
  }
  .normal-level-place {
    width: 115px;
    height: 115px;
    margin: 0 15px 15px 0;
  }
  .hard-level-deck {
    width: 791px;
    padding: 15px;
  }
  .hard-level-place {
    width: 82px;
    height: 82px;
    margin: 0 15px 15px 0;
  }
  .expert-level-deck {
    width: 795px;
    padding: 15px;
  }
  .expert-level-place {
    width: 63px;
    height: 63px;
    margin: 0 15px 15px 0;
  }
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.5s ease;
  border-radius: 5px;
}

.fliped-card {
  transform: rotateY(180deg);
}

.reverse {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

.reverse.obverse {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}

.blue-reverse {
 background-color: #19469e;
}

.green-reverse {
 background-color: #00940f;
}

.red-reverse {
 background-color: #c50000;
}

.card-image {
  border-radius: 5px;
}

